<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <System.Windows.Forms.ApplicationConfigurationSection>
    <add key="DpiAwareness" value="PerMonitorV2" />
  </System.Windows.Forms.ApplicationConfigurationSection>
  <connectionStrings>
      <add name="DBConnection" connectionString="data source=(localdb)\MSSQLLocalDB;Initial Catalog=CompositesDB;Integrated Security=True;"
          providerName="System.Data.SqlClient"/>
    </connectionStrings>
</configuration>